{% extends 'base.html' %}

{% block title %}Add - Garden Wiki{% endblock %}

{% block content %}
<div class="container-fluid px-0 mt-2">
  <div class="row">
    <div class="col-auto">
      <form method="POST" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="add_query" placeholder="Search for New Plants..." aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">🔍</button>
      </form>
    </div>
  </div>
</div>

    <ul>
        {% for plant in plants %}
        <li><strong>{{ plant.common_name }}</strong><br>
            <img src="{{ plant.plant_image }}" alt="{{ plant.common_name }}" width="150">
            <div class="plant-info">
                <p><span class="label">Scientific Name:</span> {{ plant.scientific_name }}</p>
                <p><span class="label">Pruning :</span> {{ plant.pruning_count }} time(s)</p>
                <p><span class="label">Pruning month:</span> {{ plant.pruning_month }}</p>
                <p><span class="label">Flowering Season:</span> {{ plant.flowering_season }}</p>
                <p><span class="label">Cycle:</span> {{ plant.cycle }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}